*{
    margin: 0;
    padding: 0;
}
.canvas{
  position:absolute;
  z-index:-1;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
}
.welcome{
  margin-top: 15%;
  margin-left:40%;
  width:50%;
  opacity: 0.3;
}
.welcome:hover{
  opacity: 0.8;
}
