*{
    margin: 0;
    padding: 0;
}
.canvas{
  position:absolute;
  z-index:-1;
  top:0;
  left: 0;
  right: 0;
  bottom:0;
}
.welcome{
  margin-top: 15%;
  margin-left:40%;
  width:50%;
  opacity: 0.3;
}
.welcome:hover{
  opacity: 0.8;
}

.out_phone{
  float:right;
  height:200px;
  width:100px;
  border:1px solid white;
  border-radius:5%;
  background:black;
}
.in_phone{
  margin:10px auto;
  height:90%;
  width:80%;
  background:white;
}
.pagination .p{
  text-align:center;
}
.archive{
  padding:1% 2%;
}
.archive .archive_item{
  margin-bottom: 2%;
  border-bottom: 1px dotted blue;
  font-size:20px;
}
.archive .archive_item a{
  text-decoration:none;
}
.archive .archive_item .date{
  float:right;
  font-size:10px;
}
.archive .pagination{
  width:100%;
  text-align: center;
}
#my_picture{
	border-radius: 100%;
	display: block;
	width:200px;
  height:200px;
	margin:1% auto;
	background:url(../rs/m1.jpg) -174px -200px;
}
#aboutme{
  list-style-type: none;
    margin: 0;
    padding: 1%;
    text-align:center;
    font-size:30px;
}
#aboutme li {
    display:inline;
}
#aboutme li a{
    display:inline-block;
    width:30px;
    height:30px;
    text-decoration: none;
    margin:1%;
    color:grey;
    opacity: 0.5;
}
#aboutme li a:hover{
  color:#428bca;
  opacity: 1;
}
#tags{
  text-align: center;
}
#tags a{
  border:1px solid black;
  margin:1%;
  background-color:white;
  opacity: 0.5;
}
#tags a:hover{
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  opacity: 1;
}
p{
  margin:0px;
}
